
body {
    background-image: url(images/bg.JPG); /* Replace 'background-image-url.jpg' with your image URL */
    background-size: cover;
    background-position: center;
    
    margin: 0;
    padding: 0;
  }

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(5px); /* Adjust the blur radius as needed */
    z-index: -1;
  }

  .form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Optional: Add a box shadow for depth */
  }


/* .form-container{
    background-color: rgba(255, 255, 255, 0.9);
} */